.mat-grid-tile {
    background: lightblue;
  }

  .product-card {
    border: 1px solid #ddd;
    background-color: rgb(214, 233, 205);
    max-width: 350px;
    border-radius: 5%;
    row-gap: 20px;

  }

  mat-card {
    width : calc(100% - 5px);
    height : calc(100% - 5px);
  }

//   mat-card img{
//     object-fit: cover; /*this makes the image in src fit to the size specified below*/
//     width: 110%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
//     height: 70%;
//     align-items: center;
//   }
