target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Eclipse ###
.metadata/

### VS Code ###
.vscode/

demo-frontend/node_modules
demo-frontend/.vscode
demo-frontend/.angular
demo-backend/.classpath
demo-backend/.project
