.w-full {
  width: 100%;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.pt-5 {
  padding-top: 5px;
}

.p-5 {
  padding: 5px;
}

.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.flex-auto {
  flex: auto;
}

.flex-column {
  flex-direction: column;
}

.h-auto {
  height: auto !important;
}

.text-italic {
  font-style: italic;
}

.mat-header-cell.compact,
.mat-cell.compact {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 55px;
}

.k-justify-content-center .mat-chip-list-wrapper {
  -webkit-box-pack: center;
  justify-content: center;
}

.k-justify-content-end .mat-chip-list-wrapper {
  -webkit-box-pack: end;
  justify-content: end;
}

/**
 * Landing Page Styles
 */

/** Colores */
.color-green {
  color: #00af91;
}

.backgroung-green {
  color: white;
  background-color: #00af91;
}

.nav-logo {
  width: 200px;
}

.spacer {
  flex: 1 1 auto;
}


/**
 * Spinner
 */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #00af91;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
