$app-command-bar-height-desktop: 56px !default;
$app-command-bar-height-mobile: 0 !default;

$app-activity-bar-height-desktop: 56px !default;
$app-activity-bar-height-mobile: 48px !default;

$app-view-bar-height-desktop: 96px !default;
$app-view-bar-height-mobile: 84px !default;

$app-component-title-margin: 16px !default;
