<div class="container mt-3 mb-3">
  <div class="row  d-flex justify-content-around">
    <div class="col-md-3" [routerLink]="['./mis-listas']">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row align-items-center">
            <div class="icon bg-green">
              <mat-icon>shopping_cart</mat-icon>
            </div>
            <div class="ms-2 c-details">
              <h4 class="mb-0">Mis listas</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row align-items-center">
            <div class="icon bg-green">
              <mat-icon>home</mat-icon>
            </div>
            <div class="ms-2 c-details">
              <h4 class="mb-0">Mis Datos</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row align-items-center">
            <div class="icon bg-green">
              <mat-icon>home</mat-icon>
            </div>
            <div class="ms-2 c-details">
              <h4 class="mb-0">Mis Direcciones</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>
