<div>
  <h1 class="color-green">{{ "menu.shops" | translate }}</h1>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between"
    class="upper-menu"
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-sm="10px"
  >
    <div fxFlex fxLayout.lt-sm="row" fxLayoutGap="20px" lass="k-flex-wrap">
      <button mat-raised-button (click)="onAdd()">
            <mat-icon>add</mat-icon> {{ "new" | translate }}
        </button>
      <button mat-raised-button (click)="onDelete()">
            <mat-icon>delete</mat-icon> {{ "delete" | translate }}
          </button>
        <button mat-raised-button (click)="loadShopsPage()">
            <mat-icon>refresh</mat-icon> {{ "refresh" | translate }}
        </button>
    </div>
    <div fxflex>
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'filter' | translate }}"
          #input
          id="shops-filter"
          name="shops-filter"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8 table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
      matSortDisableClear
      class="w-full"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.shop.name" | translate }}
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row" data-label="name">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- NAME -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.shop.name" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name">
          {{ row.name }}
        </mat-cell>
      </ng-container>

      <!-- CATEGORY -->
      <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.shop.category" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="categories"  >
          {{ row.categories[0].name }}
        </mat-cell>
      </ng-container>

      <!-- CITY -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.shop.city" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="city">
          {{ row.city }}
        </mat-cell>
      </ng-container>

      <!-- USER -->
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.shop.user" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="user">
          {{ row.user.name }}
        </mat-cell>
      </ng-container>


      <!-- Row definition-->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEdit(row)" class="row-link"
        [style.background]="
          highlightedRow && highlightedRow.id === row.id
            ? 'rgba(0, 0, 0, 0.15)'
            : ''
        ">
      </mat-row>
    </table>

    <mat-card *ngIf="dataSource.loading$| async" style="display: flex; justify-content: center; align-items: center">
      <mat-spinner></mat-spinner>
    </mat-card>

    <mat-paginator [length]="dataSource.totalElements"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   aria-label="Select page" showFirstLastButtons (page)="pageEvent = setPageSizeOptions($event)">
    </mat-paginator>


  </div>


</div>
