
<div>
  <div fxLayout="row" fxLayoutAlign="space-between" class="upper-menu" fxLayout.lt-sm="column" fxLayoutGap="20px"
    fxLayoutGap.lt-sm="10px">
    <div fxFlex fxLayout.lt-sm="row" class="k-flex-wrap">
      <button mat-raised-button (click)="onAdd()">
        <mat-icon>add</mat-icon> {{ "new" | translate }}
      </button>
      <button mat-raised-button (click)="onDelete()">
        <mat-icon>delete</mat-icon> {{ "delete" | translate }}
      </button>
      <button mat-raised-button (click)="loadProductsPage()">
        <mat-icon>refresh</mat-icon> {{ "refresh" | translate }}
      </button>
    </div>
    <div fxflex>
      <mat-form-field>
        <input matInput placeholder="{{ 'filter' | translate }}" #input id="products-filter" name="products-filter" />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear
      class="w-full">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th id="header" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.product.id" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name">
          {{ row.id }}
        </mat-cell>
      </ng-container>

      <!-- NAME -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.product.name" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name">
          {{ row.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "table.product.category" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="category">
          {{ row.category.name }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEdit(row)" class="row-link"
        [style.background]="
          highlightedRow && highlightedRow.id === row.id
            ? 'rgba(0, 0, 0, 0.15)'
            : ''
        ">
      </mat-row>
    </table>

    <mat-card *ngIf="dataSource.loadinig$| async" style="display: flex; justify-content: center; align-items: center">
      <mat-spinner></mat-spinner>
    </mat-card>

    <mat-paginator [length]="dataSource.totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page" showFirstLastButtons (page)="pageEvent = setPageSizeOptions($event)">
    </mat-paginator>


  </div>
</div>
