
<h1 class="color-green" fxLayoutAlign="center">{{ 'shopForm.title' | translate }}</h1>
<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="form-container">
      <form *ngIf="shopForm" [formGroup]="shopForm" (ngSubmit)="save()">
        <mat-card-title class="bottom-border"> {{ 'shopForm.data' | translate }} </mat-card-title>
      
        <mat-card-content>

          <div>
            <mat-form-field >
              <mat-label> {{ 'shopForm.login' | translate }} </mat-label>
              <mat-select name="user" formControlName="user">
                <mat-option *ngFor="let user of users" [value]="user">
                  {{ user.login }}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
      
            <div>
              <mat-form-field>
                <mat-label> {{ 'shopForm.shopName' | translate }} </mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </div>

            <div class="double-container">
              <mat-form-field>
                <mat-label> e-mail </mat-label>
                <input matInput formControlName="email"/>
              </mat-form-field>

              <mat-form-field>
                <mat-label> {{ 'shopForm.phone' | translate }} </mat-label>
                <input matInput formControlName="phone"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label> {{ 'shopForm.city' | translate }} </mat-label>
                <input matInput formControlName="city"/>
              </mat-form-field>
            </div>
      
            <div>
              <mat-form-field class="last-field" >
                <mat-label> {{ 'shopForm.category' | translate }} </mat-label>
                <mat-select  (selectionChange)="saveCategory()" [(value)]="category">
                  <mat-option *ngFor="let sCategory of allCategories" [value]="sCategory">
                    {{ sCategory.name }}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          
        </mat-card-content>
        <mat-card-actions class="end-buttons">
          <button mat-raised-button type="submit" color="primary" > {{ 'button.save' | translate }} </button>
          <button mat-raised-button type="button" [formNoValidate]="true" (click)="back()"> {{ 'button.cancel' | translate }} </button>
        </mat-card-actions>
      </form>
      </mat-card>

</div>

