// mat-card img{
//     object-fit: cover; /*this makes the image in src fit to the size specified below*/
//     width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
//     height: 80%;
//   }
mat-card {
    max-width: 160px;
    max-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

div:first-of-type:hover {
  transition: transform .2s;
  transform: scale(1.03);
}

.content {
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .container {
    position: relative;
    text-align: center;
  }

  .top-left {
    position: absolute;
    top: 3%; //porcentajes
    left: -5%;
    color: white;
    width: 20%;
    height: 12%;
  }

  .centered-text {
    position: absolute;
    top: 9%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;

  }

  .precio {
    position: absolute;
    top: 8 px;
    left : 12 px
  }

  .discounted-price {
    color: #00af91;

  }

  .original-price {
    color: darkgrey;
    text-decoration: line-through;

  }

  .currency {
    text-align-last: right;
  }
