<div class=" container card mb-4 box-shadow">

  <img *ngIf="product.discount != null && product.discount !=0" class="top-left"
    [src]="'../../../assets/images/DiscountLabel.png'" alt="Discount Label">
  <p *ngIf="product.discount != null && product.discount !=0" class="centered-text"> {{ product.discount }}%
  <p>

    <img class="card-img-top img-responsive" alt="{{product.name}}" style="width: 100%; display: block;"
      [src]="product | imagen " alt="Image not available" data-holder-rendered="true">

  <div class="card-body">

    <h6 class="card-title">{{product.name }}</h6>
    <p class="card-text"> {{product.shop.name}} </p>
    <table style="width:100%">
      <td align="center"> </td>
      <td align="center">
        <h3 class="discounted-price"> {{ product.price * (1-product.discount/100) | currency :
          'EUR':'symbol':'.2-2':'es'}} </h3>
      </td>
      <td align="left" *ngIf="product.discount !== 0 && product.discount !== null">
        <h4 class="original-price"> {{ product.price | currency : 'EUR':'symbol':'.2-2':'es' }} </h4>
      </td>
      <td align="center"> </td>
    </table>



    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <mat-icon mat-list-icon [routerLink]="['/producto', product.id]">info</mat-icon>
        </button>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
        </button> -->
      </div>
      <small class="text-muted">{{product.category.name}}</small>
    </div>
  </div>
</div>
