.container {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 8px; //porcentajes
  left: -12px;
  color: white;
  width: 20%;
  height: 12%;
}

.centered-text {
  position: absolute;
  top: calc(12% - 8px);
  left: calc(10% - 12px);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;

}

.precio {
  position: absolute;
  top: 8 px;
  left : 12 px
}

.discounted-price {
  color: #00af91;

}

.original-price {
  color: darkgrey;
  text-decoration: line-through;

}